header, div#organizations {
	width: 960px;
	margin-left: calc(50% - 480px);
}

header p.description {
	position: relative;
	top: -160px;
	left: 180px;
	width: 780px;
	height: 0px;
	margin: 0px;
}

div.organization p.description {
	position: relative;
	top: -200px;
	left: 220px;
	width: 740px;
	height: 0px;
	margin: 0px;
}

div.links {
	position: relative;
	top: -20px;
	float: right;
}
